.doublebannerplace2 {
  width: 1336px;
  height: 264px;
  display: flex;
  margin: 18px auto;
  gap: 8px;
  img {
    width: 660px;
    height: inherit;
    border-radius: 16px;
    object-fit: cover;
  }
}
